GMAIL_USER=
GMAIL_APP_PASSWORD=
JWT_SECRET=your_secret_key

FRONTEND_URL=http://localhost:3000
BKASH_BASE_URL=
BKASH_CALLBACK_URL=http://localhost:8081/auth/bkash/callback
BKASH_USERNAME=
BKASH_PASSWORD=
BKASH_APP_KEY=
BKASH_APP_SECRET=
